/*Hide Nitro Upsell*/
.nitroTopDividerContainer_b829ac, 
.inactiveNitroHeader_db65aa, 
.categorySectionNitroLocked__5b287, 
.premiumEmoji__2dbd7,
.premiumEmoji_d4ce86,
.premiumHeader_f73c14 {
  display: none; !important
}

button[aria-label="Send a gift"]{
  display: none; !important
}

li div a[href="/store"],
li div a[href="/shop"] {
  display: none; !important
}
